.App {
  width: 100vw;
  height: 100vh;
  background-color: #414952;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
}

#img_Logo {
  width: 70vw;
  max-width: 170px;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.start_text {
  color: #FE6A16;
  font-size: 10vh;
}
